.App {
  text-align: center;
  background-color: #FBEAEB;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.alegreya-400 {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.alegreya-700 {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.alegreya-900 {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}